html, body {
  height: 100%;
}

.container-fluid{
  padding: 4px !important;
}

#menu-holder{
  height: 70px;
}

#point-table{
  overflow-y: scroll;
  width: 100%;
  height: 500px;
}

#point-table table{
  border: 1px solid grey;
  width: 100%;
  min-width: 3300px;
}

#point-table table tr td, #point-table table tr th{
  font-size: 11px;
  padding: 3px 5px;
  margin: 0;
  border-right: 1px solid grey;
}

#point-table table tr th{
  border-bottom: 1px solid grey;
}

.selected-row{
  background-color: #90C3D4 !important;
}
