html, body {
    height: 100%;
}

template {
    display: none;
}

#transparent-map-holder, #transparent-map-holder-right {
    opacity: 0;
    height: 100%;

}

#transparent-closeday-window, #transparent-point-table-window{
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    /*top:500px;*/
    /*left: 0px;*/
    z-index: 100;
    visibility: visible;
    background-color: whitesmoke;
}
#transparent-point-table-window p {
    font-size: 40px;
    text-align: center;
    padding-top: 40%;
}
#point-controller-container {
    height: 100%;
}

.container-fluid {
    padding: 4px !important;
}

#menu-holder {
    height: 40px;
}

#point-table {
    overflow-y: scroll;
    /*overflow: auto;*/
    width: 100%;
}



#map {
    height: 800px;
    width: 800px;
    position: absolute;
    top: 0px;
    left: 0px;
    /*z-index: -1;*/
}

.lm_goldenlayout {
    background: none !important;
}

.lm_item {
    /*z-index: 0;*/
}



.nav > li > a {
    padding: 5px !important;
}

#point-menu-panel {
    margin: 10px;
    padding-left: 10px;
}

#point-menu-panel select {
    width: 105px;
    margin-right: 3px;
}

#point-menu-panel button {
    padding: 0 3px;
    margin-bottom: 3px;
}

#tab-selector {
    margin-bottom: 10px;
}

.row-white {
    background-color: white !important;
}

.row-yellow {
    background-color: #E6F562 !important;
}

#point-table-tbl {
    min-width: 2400px;
    border-bottom: 1px solid grey;
}
#point-table-tbl .header,
#point-table-tbl .header-copy {
    min-width: 2400px;
}

#point-table-tbl tr {
    border-left: 1px solid grey;
    position: relative;
    background-color: #f9f9f9;
}

#point-table-tbl tr td, #point-table-tbl tr th {
    font-size: 11px;
    padding: 4px 3px !important;
    margin: 0;
    border-right: 1px solid grey;
    border-top: 0px !important;
    white-space: nowrap;
    overflow: hidden;
}

#point-table-tbl tr th {
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
}


#point-table-tbl  .row-red {
    background-color: #ED8585 !important;
}

#point-table-tbl  .row-green {
    background-color: #5BBA66 !important;
}

#point-table-tbl  .selected-row {
    background-color: #90C3D4 !important;
}

#table-menu-holder-tr, #table-menu-holder-tr th {
    border: 0 !important;
}

.input-label {
    font-size: 13px;
    margin: 0 5px 0 10px;
}

#table-menu-holder-tr input {
    height: 24px !important;
    font-size: 13px;
    width: 200px;
}

#table-menu-holder-tr select {
    font-size: 13px;
    margin-bottom: 2px;
}

.titles-tr {
    border-top: 1px solid grey;
}

.leaflet-top, .leaflet-bottom, .leaflet-left, .leaflet-right {
    z-index: 0;
}


.header-copy {
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0 !Important;
}

.header-copy th {
    /*white-space: nowrap;*/
}

.setting-panel {
    padding: 10px;
    background-color: white;
    height: 100%;
    overflow-x: scroll;
}

.setting-panel input[type=range] {
    width: 48%;
    float: right;
}

.setting-panel input[type=date] {
    width: 150px;
}

.setting-panel select {
    width: 150px;
}

.setting-panel input[type=text] {
    width: 50px;
    height: 20px;
}

.setting-panel .param-title {
    float: left;
    margin-right: 15px;
    width: 40%;
}

.setting-panel .title {
    padding: 0 0 5px 0;
    font-weight: bold;
}

.setting-panel .setting-row {
    padding: 4px 0;
    border-top: 1px solid #b9b9b9;
}

.setting-panel .block {
    border: 1px solid #b9b9b9;
    padding: 7px 7px 4px 7px;
    margin-bottom: 6px;
    width: 100%;
    min-width: 570px;
}

.setting-panel .button-row {
    text-align: right;
    padding-bottom: 5px;
}

.point-checkbox-td {
    width: 26px;
    min-width: 26px;
}
.attention-status,
.delivered-status,
.performed-status,
.time-out-status,
.delay-status,
.controlled-status,
.awaiting-status,
.scheduled-status,
.canceled-status,
.delivered-late-status,
.delivered-too-early-status {
    font-weight: bold;
    font-size: 17px;
}

.delivered-status {
    color: #0A800A;
}

.delivered-late-status {
    color: #0A800A;
    /*text-decoration: underline;*/
}

.delivered-too-early-status {
    color: #0A800A;
    /*text-decoration: overline;*/
}

.performed-status {
    color: blue;
}

.time-out-status, .delay-status {
    color: rgb(234,0,0);
}

.attention-status {
    color: red;
}
.delay-status2 {
    color: rgb(234, 161, 9); !important;
}

.scheduled-status {
    color: #4482AB;
}

.canceled-status {
    color: #969696;
}

.promised-text {
    height: 15px;
    width: 34px;
}

#notification, #ConfirmchengeCoord {
    background-color: #D5DBD8;
    border: 2px solid grey;
    padding: 20px;
}
#ConfirmchengeCoord {
    text-align: center !important;
    position: absolute;
    display: none;
}
#ConfirmchengeCoord button{
    margin: 10px;
}

#check {
    width: 18px;
    height: 18px;

}
.yellow-status {
    color: #95A932 !important;
}

#search-input {
    margin: 0;
    width: calc(100% - 30px);
    /*было calc(100% - 30px) в рассчте на кнопочку с лупой*/
    padding: 0;
}

#point-view, #point-editing-popup {
    background-color: #D5DBD8;
    border: 2px solid #bdbdbd;
    padding: 8px;
}

#point-view-table, #stop-info-table, #stop-point-view-table{
    font-size: 13px;
    border: 2px solid #bdbdbd !important;
    margin: 0;
}

.filter-btn {
    height: 21px;
}
#point-view-table td{
    vertical-align: middle;
}
#point-view-table td, #stop-info-table td, #stop-point-view-table td {
    padding: 4px 8px;
}
#point-view-table .title, #stop-info-table .title, #stop-point-view-table .title
{
    width: 160px;
}
.stop-table-title td{
    background: #D5DBD8;
}
#stop-info-table{
    margin-top: 5px;
    margin-bottom: 7px;
}
#stop-info-table td, #stop-point-view-table td{
    text-align: center;
    background-color: #FFFFFF;
}
#point-view-table .row-data {
    width: 500px;
}
.card-title {
    text-align: center;
    margin: -3px 10px 3px 0;
}

.card-title button {
    margin-left: 10px;
    /*height: 20px;*/
    padding: 2px 5px 2px 5px;
}

#point-view .down-btn {
    width: 32.5%;
}
/*
#confirm-status-task-btn {
    margin-left: 15px;
}*/
/*
#confirm-status-task-btn, #cancel-status-task-btn, #change-window-task-btn{
    padding: 1px 7px;
    height: 20px;
}
*/
#edit-panel {
    padding: 7px;
    overflow-y: scroll;
    height: 100%;
}
.point-view-close-btn {
    float: right;
}
#original-route, #changed-route, #changed-driver {
    border: 1px solid grey;
    margin: 3px;
    padding: 3px;
    width: 100%;
    float: right;
}


.box {
    border: 1px solid grey;
    height: 30px;
    margin: 1px;
    float: left;
    text-align: center;
    font-size: 10px;
    padding-top: 7px;
}

.end-box {
    width: 40px;
    background-color: transparent;
}

.warehouse-box {
    background-color: #eee4b4 !important;
    width: 65px !important;
}

.task-box {
    background-color: #92ee91;
}

.travel-box {
    background-color: #39ed5a;
}

.downtime-box {
    background-color: #d6ada4;
}

.finished-box {
    background-color: #dddddd !important;
    border: 1px solid #b19ca5;
}

.block-title {
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.highlighted-box {
    border: 1px solid red;
    background-color: #ff4b44;
    font-weight: bold;
}

.draggable-box {
    cursor: -webkit-grab;
}

.late-box {
    border: 1px solid red;
    background-color: #ff9c87;
}

.too-big-box {
    text-align: right;
    padding-right: 10px;
}

.promised-text-card {
    width: 100px;
    height: 20px;
    padding-left: 3px;
}

#edit-panel-menu {
    padding-bottom: 4px;
    margin-left: -3px;
}

#edit-panel-menu select {
    width: 150px;
    padding: 1px;
    margin-top: 3px;
}

#edit-panel-menu button {
    padding: 0 5px;
}

#edit-panel-empty {
    text-align: center;
    padding-top: 20px;
}

.invalid-push {
    background-color: #FF0000;
    color: white;
}

#close-day-panel {
    padding: 10px;
    overflow: auto;
    height: 100%;
    margin-right: 10px;
}
#test-popup{
    width: 100px;
    height: 100px;
    z-index: 100;
    background: green;
    position: absolute;
    opacity: 0.5;
}
.point-view-buttons{
     padding-top: 7px;
     text-align: center;
}
/*.col-md-2{*/
    /*padding-right: ;*/
/*}*/
.card-title{
    width:100%;
}
#btn-close{
    padding: 2px 5px 2px 9px;
}
#point-editing-popup{
    width:490px;
}
.leaflet-div-icon {
    background: transparent;
    border: none;
}

.close-day-wrapper {
    position: relative;
}

.point-table-wrapper{
    position: relative;

}
.driver-select-bg {
    background-color: #A99F9F !important;
}

.stopWithOutPoints {
    text-align: center;
 }
.center{
    text-align: center;
}
.seleOldRoute{
    margin: 15px 0;
}
.dropdown-statuses{
    list-style: none;
}
.closeroute {
    background-color:  #B0DEB0;
}
.dropdown-statuses {
    padding-left: 15px;
    padding-right: 15px;
}

.bulled {
    text-decoration: none;
}
.bulled span{
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    display: block;
}
.point-table-wrap {
    position: relative;
}

.driver-name-col{
    min-width: 130px;
    max-width: 130px;
}
.out-windows {
    color: red;
}
.reason-list {
    width: 210px;
}
.loadOldDayWrap {
    display: inline-block;
    margin-left: 25px;
}
.point-view-header {
    margin-bottom: 10px;
}
.heightElement,
.searchButton {
    height: 26px;
}
.searchButton {
    width: 26px;
}
.width100{
    width: 100% !important;
}
.row-gutter-5 [class ^= 'col-']{
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.dropdown-status {
    text-align: left !important;
    background-color: #fff;
    border-radius: 0 !important;
    border: 1px solid grey !important;
    height: 25px;
    width: 100%;
}
.statistic-table {
    width: 95%;
    margin: 0 auto;
}
.statistic-table td,
.statistic-table th{
    text-align: center;
}