html, body {
    height: 100%;
}

template {
    display: none;
}

#transparent-map-holder {
    opacity: 0;
    height: 100%;
}

#point-controller-container {
    height: 100%;
}

.container-fluid {
    padding: 4px !important;
}

#menu-holder {
    height: 40px;
}

#point-table {
    overflow-y: scroll;
    width: 100%;
}

#point-table table {
    width: 100%;
    min-width: 3200px;
    border-bottom: 1px solid grey;
}

#map {
    height: 800px;
    width: 800px;
    position: absolute;
    top: 0px;
    left: 0px;
    /*z-index: -1;*/
}

.lm_goldenlayout {
    background: none !important;
}

.lm_item {
    /*z-index: 0;*/
}

#point-table table tr {
    border-left: 1px solid grey;
}

#point-table table tr td, #point-table table tr th {
    font-size: 11px;
    padding: 4px 5px !important;
    margin: 0;
    border-right: 1px solid grey;
    border-top: 0px !important;
    white-space: nowrap;
}

#point-table table tr th {
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
}


.nav > li > a {
    padding: 5px !important;
}

#point-menu-panel {
    margin: 10px;
}

#point-menu-panel select {
    width: 105px;
    margin-right: 3px;
}

#point-menu-panel button {
    padding: 0 3px;
    margin-bottom: 3px;
}


#tab-selector {
    margin-bottom: 10px;
}

.row-white {
    background-color: white !important;
}

.row-yellow {
    background-color: #E6F562 !important;
}

.row-green {
    background-color: #5BBA66 !important;
}

.row-red {
    background-color: #ED8585 !important;
}

.selected-row {
    background-color: #90C3D4 !important;
}

#table-menu-holder-tr, #table-menu-holder-tr th {
    border: 0 !important;
}

.input-label {
    font-size: 13px;
    margin: 0 5px 0 10px;
}

#table-menu-holder-tr input {
    height: 24px !important;
    font-size: 13px;
    width: 200px;
}

#table-menu-holder-tr select {
    font-size: 13px;
    margin-bottom: 2px;
}

.titles-tr {
    border-top: 1px solid grey;
}

.leaflet-top, .leaflet-bottom, .leaflet-left, .leaflet-right {
    z-index: 0;
}

.header-copy {
    position: absolute;
    top: 0;
    left: 0;
}

.header-copy th{
    /*white-space: nowrap;*/
}

.debug-panel {
    padding: 10px;
    background-color: white;
    height: 100%;
}

.debug-panel input[type=range] {
    width: 250px;
    margin-right: 20px;
    float: left;
}

.debug-panel input[type=text] {
     width: 50px;
 }

.debug-panel span {
    float: left;
    margin-right: 15px;
    width: 230px;
}

.point-checkbox-td {
    width: 26px;
    min-width: 26px;
}

#problem-index-btn, #promised-15m-btn, #force-load-btn{
    margin-left: 5px;
}

.delivered-status,
.performed-status,
.arrived-late-status,
.delay-status,
.controlled-status,
.awaiting-status,
.scheduled-status,
.canceled-status {
    font-weight: bold;
}

.delivered-status {
    color: #0A800A;
}

.performed-status {
    color: blue;
}

.arrived-late-status, .delay-status {
    color: red;
}

.scheduled-status {
    color: #4482AB;
}

.canceled-status {
    color: #969696;
}

.promised-text {
    height: 15px;
    width: 34px;
}