.status-col { width: 90px; }
.window-type-col { width: 83px; }
.plan-arrival-time-col { width: 40px; }
.prediction-arrival-time-col { width: 54px; }
.prediction-arrival-left-col { width: 62px; }
.overdue-col { width: 47px; }
.problem-index-col { width: 56px; }
.number-col { width: 38px; }
.point-id-col { width: 72px; }
.task-id-col { width: 72px; }
.time-window-col { width: 77px; }
.departure-time-col { width: 80px; }
.driver-phone-col { width: 90px; }
.car-type-col { width: 54px; }
.car-number-col { width: 46px; }
.client-name-col { width: 200px; }
.gps-conf-col {width: 46px;}
.driver-name-col { width: 130px; }
.address-col { width: 220px; }
.real-arrival-time-col { width: 40px; }
.in-plan-col { width: 90px; }
.controlled-window-col { width: 110px; }
.promised-window-col { width: 80px; }
.promised-window-changed-col { width: 90px; }
.stop-col { width: 38px; }
.mobile-push-col { width: 32px; }
.branch-col { width: 80px; }
.time-left-window-col { width: 60px; }
