.status-col { width: 100px; }
.plan-arrival-time-col { width: 90px; }
.prediction-arrival-time-col { width: 110px; }
.prediction-arrival-left-col { width: 110px; }
.overdue-col { width: 90px; }
.problem-index-col { width: 110px; }
.number-col { width: 50px; }
.point-id-col { width: 70px; }
.task-id-col { width: 70px; }
.time-window-col { width: 100px; }
.departure-time-col { width: 80px; }
.driver-phone-col { width: 110px; }
.car-type-col { width: 110px; }
.car-number-col { width: 90px; }
.client-name-col { width: 250px; }
.driver-name-col { width: 250px; }
.address-col { width: 420px; }
.real-arrival-time-col { width: 110px; }