#map, #points-table-holder, #setting-holder {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 0 0 0;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

#points-table-holder {
    height: 280px;
    width: 100%;
    overflow-y: scroll;
}

#setting-holder {
    height: 40px;
    margin: 280px 0 0 0;
}

#points-table-holder table {
    width: 100%;
    min-width: 1200px;
    table-layout: fixed;
}

#points-table-holder table tr td {
    padding: 3px 3px 3px 10px;
    margin: 0;
    font-size: 12px;
}

#setting-holder input[type=range] {
    width: 100px;
    float: left;
    margin-right: 10px;
}

#setting-holder input[type=date] {
    margin-top: -2px;
    width: 135px;
    float: left;
    margin-right: 10px;
}

#setting-holder button {
    margin-top: -2px;
    margin-left: 7px;
    height: 26px;
    padding: 0 10px;
    float: right;
}

.holder {
    padding: 10px;
}

.input-label {
    float: left;
    padding-right: 10px;
}

.input-value, .input-value-big {
    float: left;
    width: 40px;
    min-width: 40px;
}

.input-value-big {
    width: 100px;
    min-width: 100px;
}

td, th {
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}

.col-name {
    width: 200px;
}

.col-center-lat {
    width: 70px;
}

.col-center-lon {
    width: 70px;
}

.id-col {
    width: 270px;
}

.col-buttons {
    width: 100px;
}

.col-grouped-buttons {
    width: 120px;
}

.prc-col {
    width: 120px;
}

#hide-row-btn {
    width: 125px;
}

.unchanged-row {

}

.changed-row {
    background-color: #e7eb58 !important;
}

.done-row {
    background-color: #39ed5a !important;
}

.selected-row {
    background-color: #71d5d5 !important;
}